.container {
  width: 100%;
  display: flexbox;
  justify-content: center;
}

#modal_button {
  margin: 0;
  margin-top: 5vh;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

input {
  text-align: center;
}

.delete_button {
  margin-left: 5vw;
}

.edit_button {
  margin-left: 1vw;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
  text-align: center;
}

h1 {
  text-align: center;
}

th {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

td {
  padding: 8px;
  border: 1px solid black;
  text-align: center;
}

.btn {
  margin: 0.2vw;
}

.input_icons {
  display: block;
  max-width: min-content;
}

::ng-deep .cdk-overlay-container {
  z-index: 1200 !important;
}

.validate_name {
  display: none !important;
}
